.navigation__container { 
    display: grid;
    justify-content: center;
    margin: 20px;
}

.navigation__logo {
    margin: 50px;
    font-weight: 700;
    font-size: 48px;
    display: grid;
    justify-content: space-around;
}