# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio

*.suo
*.obj
*.bin
*.pdb
*.cache
*.log
[Bb]in/
[Oo]bj/
*.dll
# Build results
[Dd]ebug/
[Rr]elease/
out/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.o
*.pyc

